MONGODB_URI=mongodb+srv://amanbela8827_db_user:UuU6cZ2haVNmeOgh@cluster0.uwar5gr.mongodb.net/property-project?retryWrites=true&w=majority
NEXT_PUBLIC_SITE_URL=https://indorepropertybudgetfinder.com

# Cloudinary (required for image upload)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
